body {
  background-color: #c1f0f0;
}

.card {
  border-radius: 9px;
  background-color: #ffffff;
  margin:auto;
  margin-top: 10%;
  width:250px;
  height:70%;
  padding: 10px;
}

img {
  width: 230px;
  height: 40%;
}

.text {
  width:90%;
}